.DS_Store
discord/.env
node_modules/
data/OLDreasons.json
data/reasonsBasic.json
data/reasonsPhrase.json
data/reasonsToken.json
data/reasonsOverkill.json
Dockerfile.api
Dockerfile.bot
docker-compose.yml
